p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    background-image: url("https://t4.ftcdn.net/jpg/02/12/34/87/360_F_212348726_9aFVfkGDmtghn72luc5zIGpOJgQcuEVu.jpg")
}
header {
    background-color: rgba(36, 36, 36, 0.452);
    color: rgb(241, 237, 237);
    padding: 3rem 2rem;
    border-bottom: 5px solid rgb(5, 39, 7);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    margin: auto 0;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#Fullbtn{
    background-color: rgb(8, 94, 23);
    color: white;
    border-radius: 20%;
    padding: 1rem 1rem;
    font-family: Georgia, 'Times New Roman', Times;

}

div {
    display: flex;
    justify-content: center;
}

.content{
    background-color: rgb(54, 54, 54);
    color: aliceblue;
}

iframe{
    min-width: 100%;
    min-height: 500px;
}
footer{
    background-color: rgb(32, 32, 32);
    padding-top: 3rem;
}

#data{
    width: 100%;
    height: 100%;
    display: flex;
}

#copyright{
    justify-content: right;
    align-items: end;
    color: white;
}
a{
    align-items: end;
    color: white;
}
